.menu__background {
  background-color: #d9d9d9;
  width: 100%;
}

.menu__container {
  max-width: 1024px;
  height: 5rem;
  margin: 0 auto 0 auto;
  padding: 0 0.9375rem 0 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__logo {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}
